* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0c2d35;
  color: white;
  overflow-x: hidden;
  font-size: 18px;
}

/* Hamburger */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: transparent; /* IMPORTANT */
  z-index: 100;
}

.nav-links {
  display: flex;
  flex-direction: row;   /* IMPORTANT */
  align-items: center;
  gap: 12px;
}


.logo {
  font-weight: 700;
  font-size: large;
  text-transform: none;
  color: white;
}


.nav-links a {
  padding: 14px 22px;
  border-radius: 999px;

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;

  background: rgba(82, 77, 77, 0.566);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.22);
}


.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-actions input {
  height: 48px;
  padding: 0 20px;
  border-radius: 999px;

  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.92);
  color: #000;
  font-size: 18px;

  transition: all 0.3s ease;
}

.nav-actions input:hover {
  background: white;
  transform: translateY(-2px);
}

.nav-actions input:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.nav-actions input::placeholder {
  color: #555;
}



/* Hero */
.hero {
  height: 100vh;
  width: 100%;
  background:
    url("assets/back-new.png") center / cover no-repeat;
  position: relative;
   z-index: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* LEFT 50% BLUR */
.blur-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* CONTENT */
.hero-left {
  width: 50%;
  padding: 140px 100px;
  position: relative;
  z-index: 2;
}



.hero-left {
  width: 50%;
  padding: 120px 80px;
  z-index: 2;
}


.small-text {
  opacity: 0.7;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 84px;
  line-height: 1;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #9ad6e3;
}

.desc {
  max-width: 400px;
  opacity: 0.85;
  margin-bottom: 25px;
  font-size: 18px;
}

.cta {
  padding: 12px 26px;
  border: none;
  border-radius: 30px;
  background: #9ad6e3;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}


.glass-pill {
  height: 48px;
  padding: 0 20px;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;

  font-size: 18px;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s ease;
}

.glass-pill:hover {
  background: rgba(255, 255, 255, 0.26);
  transform: translateY(-2px);
}

/* Hide utility */
.hidden {
  display: none;
}

.login-btn {
  /* border: 1px solid yellow; */
  padding: 12px 26px;
  border-radius: 999px;                 /* pill = premium */
  background: rgba(82, 77, 77, 0.566);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;

  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;

  cursor: pointer;
  transition: all 0.35s ease;
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.2);
}

/* Hover = intent, not chaos */
.login-btn:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-1px);
  box-shadow:
    0 12px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 1px rgba(255, 255, 255, 0.3);
}

/* Click feedback */
.login-btn:active {
  transform: translateY(0);
  box-shadow:
    0 6px 16px rgba(0, 0, 0, 0.25);
}


/* =========================
   OUR SERVICES SECTION
========================= */

.services-section {
  background: #D3D3D3;          /* light grey */
  padding: 100px 80px;
  text-align: center;
  color: #111;
}

.services-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}

.services-subtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 50px;
}

/* Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

/* Card */
.service-card {
  /* border: 1px solid rgb(201, 81, 81); */
  border: 2px solid #17A2B8;
  box-shadow: 5px 5px 5px rgba(150, 150, 170, 0.3), 0 0 15px rgba(23, 162, 184, 0.5);
  background: #fff;
  border-radius: 50%;
  height: 300px;
  width: 300px;

  margin: auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.35s ease;
  cursor: pointer;
}

/* Icon */
.service-icon {
  font-size: 48px;
  margin-bottom: 14px;
}

/* Title */
.service-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Description */
.service-card p {
  font-size: 15px;
  color: #555;
  line-height: 1.4;
}

/* Hover Effect */
.service-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}


/* ================= TESTIMONIAL SECTION ================= */

.testimonials {
  padding: 80px 10%;
  background: #b1bcce;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-weight: 700;
  color: #222;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.testimonial-card {
  background: #87898c;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.4s ease;
  cursor: pointer;
  position: relative;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.testimonial-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card h3 {
  margin: 10px 0 5px;
  font-size: 1.3rem;
}

.role {
  font-size: 0.9rem;
  color: #f3e4e4;
  margin-bottom: 15px;
}

.short-review {
  font-style: italic;
  color: #ffffff;
}

/* ================= POPUP ================= */

.testimonial-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  animation: popupFade 0.3s ease;
}

.close-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}

@keyframes popupFade {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


/* ================= PRICING SECTION ================= */

.pricing {
  padding: 80px 10%;
  background: #c4cdd6;
  text-align: center;
}

.pricing-title {
  color: #000;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.pricing-subtitle {
  color: #403636;
  margin-bottom: 50px;
}

.pricing-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.pricing-card {
  background: #131212;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  transition: 0.4s ease;
  position: relative;
}

.pricing-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.15);
}

.pricing-card h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.pricing-card h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.pricing-card h1 span {
  font-size: 1rem;
  color: #666;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  text-align: left;
}

.pricing-card ul li {
  margin-bottom: 12px;
  font-size: 0.95rem;
}

.pricing-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #3b82f6;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.pricing-btn:hover {
  background: #2563eb;
}

/* Featured Plan */

.featured {
  background: #1e293b;
  color: #fff;
  transform: scale(1.05);
}

.featured ul li {
  color: #e2e8f0;
}

.featured-btn {
  background: #f59e0b;
  color: #fff;
}

.featured-btn:hover {
  background: #d97706;
}

.badge {
  position: absolute;
  top: -15px;
  right: 20px;
  background: #f59e0b;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}


/* ================= FOOTER ================= */

.footer {
  background: #e3e8f0; /* matches featured pricing card */
  color: #e2e8f0;
  padding: 80px 10% 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  margin-bottom: 40px;
}

.footer-col h2 {
  color: #3b82f6;
  margin-bottom: 15px;
}

.footer-col h3 {
  color: #000;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  font-size: 1.1rem;
  position: relative;
}

.footer-col h3::after {
  color: #000;
  content: "";
  width: 35px;
  height: 3px;
  background: #f59e0b;
  display: block;
  margin-top: 8px;
  border-radius: 4px;
}

.footer-col p {
  color: black;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  color: #0e0e0f;
  padding: 0;
}

.footer-col ul li {
  color: #0e0e0f;
  margin-bottom: 12px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #0e0e0f;
  transition: 0.3s ease;
}

.footer-col ul li a:hover {
  color: #3b82f6;
  padding-left: 6px;
}

/* Newsletter */

.newsletter {
  color: #0e0e0f;
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  color: #0e0e0f;
  flex: 1;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
}

.newsletter button {
  border: 1px solid black;
  padding: 10px 18px;
  border: none;
  border-radius: 0 25px 25px 0;
  background: #3b82f6;
  color: #090808;
  cursor: pointer;
  transition: 0.3s ease;
}

.newsletter button:hover {
  background: #2563eb;
}

/* Social Icons */

.social-icons a {
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,0.1);
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  /* color: #fff; */
  color: #0e0e0f;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background: #f59e0b;
  transform: translateY(-4px);
}

/* Bottom */

.footer-bottom {
  color: #0e0e0f;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 20px;
  text-align: center;
  font-size: 1rem;
  /* color: #94a3b8; */
}
